@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

body {
	background-color: $body-bg;
	font-family: 'NanumSquare', sans-serif;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.header {
	width: 100%;
	background-color: $main-bg;
	.logo {
		width: 86%;
		height: 2rem;
		position: fixed;
		padding-top: 0.5rem;
		padding-left: 1rem;
		background-color: $main-bg;
		z-index: 999;
		img {
			height: 100%;
		}
	}
	.search {
		.search-icon {
			width: 14%;
			height: 2rem;
			position: fixed;
			right: 0;
			padding-top: 0.3rem;
			padding-bottom: 0.2rem;
			background-color: $main-bg;
			z-index: 999;
			img {
				height: 100%;
			}
		}
		.search-area {
			@include search-background();
			width: 100%;
			height: 80%;
			position: absolute;
			top: 2.5rem;
			z-index: 10;
			display: none;
			.search-box {
				width: 70%;
				height: 3rem;
				border-radius: 3rem;
				background-color: $main-bg;
				position: relative;
				top: 3rem;
				margin: 0 auto;
				display: block;
				.search-label{
					display: none;
				}
				.search-input{
					border: none;
					font-size: 1rem;
					background: transparent;
					color: $sub-purple2;
					position: relative;
					top: 0.5rem;
					left: 1rem;
					line-height: 2rem;
					width: 70%;
				}
				.search-button {
					@include box-sizing(border-box);
					width: 2.4rem;
					height: 2.4rem;
					border: 1px solid $sub-purple2;
					border-radius: 3rem;
					position: relative;
					margin: 0.3rem;
					float: right;
					cursor: pointer;
					background-image: url('../../images/index/search-arrow.png');
					background-position: center;
					background-size: cover;
				}
			}
			.search-popular {
				color: $white;
				position: inherit;
				font-size: 1rem;
				font-weight: 500;
				margin-top: 4rem;
				margin-left: 15%;
			}
		}
	}
	.nav {
		width: 100%;
		position: relative;
		top: 2.5rem;
		.gnb {
			@include flexbox();
			@include justify-content(space-between);
			@include nav-shadow();
			@include box-sizing(border-box);
			padding: 0 10%;
			border-top: 2px solid $sub-purple2;
			li {
				font-weight: 700; 				
				text-align: center;
				font-family: 'NanumSquare', sans-serif;
				font-size: 1rem;
				color: $gray;
				line-height: 2.5rem;
			}
			.square {
				@include transform(rotate(45deg));
				width: 0.2rem;
				height: 0.2rem;
				border: 1px solid $sub-purple1;
				display: inline-block;
				position: relative;
				top: 1.1rem;
			}
		}
		.lnb {
			display: none;
		}
	}	
}
.slider {
	width: 100%;
	height: auto;
	margin-top: 2.5rem;
	@include box-shadow();
	.slider-arrow {
		width: 12%;
		top: 35%;
		position: absolute;
		img {
			width: 100%;
		}
		&.left {
			float: left;
			left: 0;
			margin-left: 3%;
		}
		&.right {
			float: right;
			right: 0;
			margin-right: 3%;
		}
	}
	.slider-nav {
		clear: both;
		display: none;
	}
	.slide {
		width: 100%;
		display: none;
		clear: both;
		img {
			width: 100%;
		}
		&.active {
			display: block;
		}
	}
}
.text-ad {
	display: none;
}
h1 {
	font-size: 1.2rem;
	font-weight: bolder;
	color: $gray;
	text-align: left;
	margin-bottom: 0.8rem;
	margin-top: 3rem;
	padding-left: 1rem;
}
.page-num {
	width: 100%;
	.page-one-card {
		@include flexbox();
		@include box-sizing(content-box);
		width: 100%;
		height: 10.7rem;
		background-color: #fff;
		border: 0.5px solid #c6c6c6;
		&:nth-child(2) {
			.card-img {
				background-image: url('../../images/page1/room-1.png');
			}
		}
		&:nth-child(3) {
			margin-top: 3rem;
			.card-img {
				background-image: url('../../images/page1/room-2.png');
			}
		}
		&:nth-child(4) {
			margin-top: 3rem;
			.card-img {
				background-image: url('../../images/page1/room-3.png');
			}	
		}
		.card-img {
			width: 50%;
			background-size: cover;
			background-position: center;
			.pick-and-reply {
				width: 100%;
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
		.card-content {
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(space-between);
			width: 50%;
			.card-title {
				width: 80%;
				font-size: 1rem;
				color: $gray;
				line-height: 1.4rem;
				margin-top: 0.5rem;
				padding-left: 7%;
				font-weight: 800;
			}
			.card-description {
				@include text-overflow(ellipsis);
				width: 80%;
				font-size: 0.8rem;
				color: $gray;
				line-height: 1.3rem;
				white-space: normal;
                overflow: hidden;
                display: -webkit-box;
               -webkit-line-clamp: 3; 
               -webkit-box-orient: vertical;
                height: 3.9rem;
                margin-top: 0.5rem;
                padding-left: 7%;
			}
			.card-button {
				background-color: $main-purple;
				border-top: none;
				border-left: none;
				border-right: 2px solid $sub-purple1;
				border-bottom: 2px solid $sub-purple1;
				color: $white;
				text-align: center;
				width: 42%;
				padding: 0.2rem;
				margin-top: 0.7rem;
				margin-left: 45%;
				margin-bottom: 0.7rem;
			}
		}
	}
}





@media screen and (min-width: 768px){
	.wrapper {
		max-width: 768px;
	}
}