@mixin prefix($property, $val){
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-wrap($wrap) {
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
@mixin flex-direction($val) {
   -webkit-box-direction: $val;
      -ms-flex-direction: $val;
          flex-direction: $val;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}
@mixin transition($val...) {
  -webkit-transition: $val;
       -o-transition: $val;
          transition: $val;
}
@mixin animation($val) {
    -webkit-animation: $val;
            animation: $val;
}
@mixin transform($val) {
    -webkit-transform: $val;
        -ms-transform: $val;
            transform: $val;
}
@mixin box-sizing($val) {
  -webkit-box-sizing: $val; // Safari <= 5
     -moz-box-sizing: $val; // Firefox <= 19
          box-sizing: $val;
}
@mixin text-overflow($val) {
    -o-text-overflow: $val;
       text-overflow: $val;
}
@mixin text-decoration($val) {
    -webkit-text-decoration: $val;
            text-decoration: $val;
}
@mixin animation($val...) {
  -webkit-animation: $val;
  -moz-animation: $val;
  -o-animation: $val;
  animation: $val;
}
@mixin box-shadow($val...) {
  -webkit-box-shadow: $val;
          box-shadow: $val;
}

//custom//
@mixin transition-three-sec() {
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
@mixin linear-bg(){
  background: -webkit-gradient(linear, left top, right top, from(rgba(52,86,103,1)), color-stop(34%, rgba(57,54,96,1)), color-stop(65%, rgba(67,33,81,1)), to(rgba(31,41,68,1)));
  background: -webkit-linear-gradient(left, rgba(52,86,103,1) 0%, rgba(57,54,96,1) 34%, rgba(67,33,81,1) 65%, rgba(31,41,68,1) 100%);
  background: -o-linear-gradient(left, rgba(52,86,103,1) 0%, rgba(57,54,96,1) 34%, rgba(67,33,81,1) 65%, rgba(31,41,68,1) 100%);
  background: linear-gradient(90deg, rgba(52,86,103,1) 0%, rgba(57,54,96,1) 34%, rgba(67,33,81,1) 65%, rgba(31,41,68,1) 100%);
}
@mixin linear-bg-303deg(){
  background: -webkit-linear-gradient(147deg, #345667, #393660, #432151, #1f2944);
  background: -o-linear-gradient(147deg, #345667, #393660, #432151, #1f2944);
  background: linear-gradient(303deg, #345667, #393660, #432151, #1f2944);
}
//background: -webkit-linear-gradient(147deg, #345667, #393660, #432151, #1f2944);
@mixin radial-bg(){
  background: -webkit-radial-gradient(circle, #345667, #393660, #432151, #1f2944);
  background: -o-radial-gradient(circle, #345667, #393660, #432151, #1f2944);
  background: radial-gradient(circle, #345667, #393660, #432151, #1f2944);
}