@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@-webkit-keyframes sky {
    0%{background-position:0% 50%}
    25%{background-position:50% 0%}
    50%{background-position:100% 50%}
    75%{background-position:50% 100%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sky {
    0%{background-position:0% 50%}
    25%{background-position:50% 0%}
    50%{background-position:100% 50%}
    75%{background-position:50% 100%}
    100%{background-position:0% 50%}
}
@-o-keyframes sky {
    0%{background-position:0% 50%}
    25%{background-position:50% 0%}
    50%{background-position:100% 50%}
    75%{background-position:50% 100%}
    100%{background-position:0% 50%}
}
@keyframes sky { 
    0%{background-position:0% 50%}
    25%{background-position:50% 0%}
    50%{background-position:100% 50%}
    75%{background-position:50% 100%}
    100%{background-position:0% 50%}
}
/*wave animation*/
@-webkit-keyframes wave {
    0%{margin-left: 0}
    100%{margin-left: 1rem}
}
@-moz-keyframes wave {
    0%{margin-left: 0}
    100%{margin-left: 1rem}
}
@-o-keyframes wave {
    0%{margin-left: 0}
    100%{margin-left: 1rem}
}
@keyframes wave { 
    0%{margin-left: 0}
    100%{margin-left: 1rem}
}
/*star-move animation*/
@-webkit-keyframes star-move {
    0%{margin-left: 0; margin-top: 0;}
    25%{margin-left: 0.3rem; margin-top: 0;}
    50%{margin-left: 0.3rem; margin-top: 0.3rem;}
    50%{margin-left: 0; margin-top: 0.3rem;}
    100%{margin-left: 0; margin-top: 0;}
}
@-moz-keyframes star-move {
    0%{margin-left: 0; margin-top: 0;}
    25%{margin-left: 0.3rem; margin-top: 0;}
    50%{margin-left: 0.3rem; margin-top: 0.3rem;}
    50%{margin-left: 0; margin-top: 0.3rem;}
    100%{margin-left: 0; margin-top: 0;}
}
@-o-keyframes star-move {
    0%{margin-left: 0; margin-top: 0;}
    25%{margin-left: 0.3rem; margin-top: 0;}
    50%{margin-left: 0.3rem; margin-top: 0.3rem;}
    50%{margin-left: 0; margin-top: 0.3rem;}
    100%{margin-left: 0; margin-top: 0;}
}
@keyframes star-move { 
    0%{margin-left: 0; margin-top: 0;}
    25%{margin-left: 0.3rem; margin-top: 0;}
    50%{margin-left: 0.3rem; margin-top: 0.3rem;}
    50%{margin-left: 0; margin-top: 0.3rem;}
    100%{margin-left: 0; margin-top: 0;}
}
@-webkit-keyframes rotate-orbit {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes rotate-orbit {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@-o-keyframes rotate-orbit {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes rotate-orbit {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes bounce {
  from,
  5%,
  28%,
  47%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%,
  22% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  39% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  58% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce {
  from,
  5%,
  28%,
  47%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%,
  22% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  39% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  58% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);}
}
.section {
    background: radial-gradient(circle, rgba(4,20,25,1) 0%, rgba(4,20,25,1) 55%, rgba(4,12,12,1) 100%);
    background-color: $main-color;
}
/////////////////////////////////section0

#section0 {
    .intro {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        width: 100%;
        height: 100%;
        background-image: url('../../images/section0/intro-bg.png');
        background-size: cover;
        background-position: center;
        .clock {
            @include transition(all 0.5s ease);
            width: 58vh;
            height: 58vh;
            display: flex;
            transform-style: preserve-3d;
            perspective: 100px;
            position: relative;
            &.transform {
                @include transform(rotateY(-180deg));
            }
            .clock-front{
                position: absolute;
                width: 58vh;
                height: 58vh;
                border-radius: 50%;
                backface-visibility: hidden;
                img {
                    height: 100%;
                    backface-visibility: hidden;
                }
            }
            .clock-back {
                @include box-sizing(border-box);                
                @include transform(rotateY(-180deg));
                @include radial-bg();
                @include animation(sky 7s linear infinite);
                background-size: 700%;
                overflow: hidden;
                position: absolute;
                backface-visibility: hidden;
                width: 58vh;
                height: 58vh;
                border-radius: 50%;
                border: 0.5px solid rgba(255, 255, 255, 0.8);
                .orbits {
                    @include flexbox();
                    @include justify-content(center);
                    .orbit-1 {
                        @include animation(rotate-orbit 5s linear infinite);
                        top: 49%;
                        width: 15rem;
                        height: 15rem;
                        border-radius: 50%;
                        border-top: 1px solid $white;
                        position: absolute;
                    }
                    .orbit-2 {
                        @include animation(rotate-orbit 4s linear infinite);
                        top: 42%;
                        width: 23rem;
                        height: 23rem;
                        border-radius: 50%;
                        border-top: 1px solid $white;
                        position: absolute;
                    }
                    .orbit-3 {
                        @include animation(rotate-orbit 3s linear infinite);                    
                        top: 30%;
                        width: 30rem;
                        height: 30rem;
                        border-radius: 50%;
                        border-top: 1px solid $white;
                        position: absolute;
                    }
                    .orbit-4 {
                        @include animation(rotate-orbit 2s linear infinite);
                        top: 10%;
                        width: 33rem;
                        height: 33rem;
                        border-radius: 50%;
                        border-top: 1px solid $white;
                        position: absolute;
                    }
                }
                .layer {
                    overflow: hidden;
                    width: 58vh;
                    height: 58vh;
                    border-radius: 50%;
                    backface-visibility: hidden;
                    &.first {
                        position: absolute;
                        background: url('../../images/section0/clock-back-1.png');
                        background-position: center bottom;
                        background-size: contain;
                        background-repeat: no-repeat;
                        .star {
                            background-color: $white;
                            @include box-shadow(0 0 3px $white);                       
                            &.small {
                                position: absolute;
                                display: inline-block;
                                width: 1px;
                                height: 1px;
                                background-color: $white;
                                &:nth-of-type(1) {
                                    @include animation(star-move 20s ease infinite);
                                    top: 10%;
                                    left: 22%;
                                }
                                &:nth-of-type(2) {
                                    position: absolute;
                                    top: 30%;
                                    left: 75%;
                                }
                                &:nth-of-type(3) {
                                    @include animation(star-move 15s ease-in-out infinite);
                                    position: absolute;
                                    top: 13%;
                                    left: 52%;
                                }
                                &:nth-of-type(4) {
                                    position: absolute;
                                    top: 5%;
                                    left: 47%;
                                }
                                &:nth-of-type(5) {
                                    @include animation(star-move 17s ease infinite);
                                    position: absolute;
                                    top: 34%;
                                    left: 32%;
                                }
                                &:nth-of-type(6) {
                                    position: absolute;
                                    top: 26%;
                                    left: 80%;
                                } 
                                &:nth-of-type(7) {
                                    @include animation(star-move 13s ease-in-out infinite);
                                    position: absolute;
                                    top: 33%;
                                    left: 8%;
                                }     
                            }
                            &.big {
                                position: absolute;
                                display: inline-block;
                                width: 2px;
                                height: 2px;
                                background-color: $white;
                                &:nth-of-type(8) {
                                    position: absolute;
                                    top: 40%;
                                    left: 45%;
                                } 
                                &:nth-of-type(9) {
                                    @include animation(star-move 12s ease infinite);
                                    position: absolute;
                                    top: 22%;
                                    left: 15%;
                                } 
                                &:nth-of-type(10) {
                                    position: absolute;
                                    top: 55%;
                                    left: 87%;
                                }
                            }
                        }
                    }
                    &.second {
                        position: absolute;
                        .wave {
                            height: 1px;
                            position: absolute;
                            background-color: $white;
                            border-radius: 1px;
                            top: 68%;
                            &.long {
                                @include animation(wave 4s ease-in-out infinite alternate);
                                width: 48%;
                                left: 23%;
                                margin-top: 0.5rem;
                                opacity: 0.3;
                                &:nth-of-type(2) {
                                    margin-top: 1rem;
                                    left: 35%;
                                }
                            }
                            &.middle {
                                @include animation(wave 3s ease-in-out infinite alternate);
                                width: 34%;
                                left: 28%;
                                margin-top: 1.5rem;
                                opacity: 0.5;
                                &:nth-of-type(4) {
                                    left: 42%;
                                    margin-top: 2.0rem;
                                }
                            }
                            &.short {
                                @include animation(wave 2s ease-in-out infinite alternate);
                                width: 25%;
                                left: 32%;
                                margin-top: 3rem;
                                opacity: 0.8;
                                &:nth-of-type(6) {
                                    width: 20%;
                                    left: 44%;
                                    margin-top: 4rem;
                                }
                                &:nth-of-type(7) {
                                    width: 13%;
                                    left: 39%;
                                    margin-top: 5rem;
                                }
                            }
                        }
                    }
                    &.third {
                        position: absolute;
                        background: url('../../images/section0/clock-back-2.png');
                        background-position: center;
                        background-size: cover;
                        .clock-title {
                            opacity: 0.7;
                            width: 100%;
                            text-align: center;
                            font-family: 'Alex Brush', cursive;
                            color: $font-white;
                            font-size: 3rem;
                            line-height: 3.2rem;
                            position: absolute;
                            top: 12%;
                        }
                    }
                }
            }
        }
        .clock-flip-btn {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            position: absolute;
            width: 5rem;
            height: 6rem;
            bottom: 0;
            .clock-btn {
                @include animation(bounce 4s 3s infinite);
                @include linear-bg-303deg();
                width: 2rem;
                height: 2rem;
                border: 1px solid $white;
                border-radius: 50%;
                cursor: pointer;
            }
            .click-me {
                opacity: 0;
                @include flexbox();
                @include justify-content(center);
                margin-top: 0.8rem;
                color: $main-color;
                font-size: 0.9rem;
                font-family: 'Copperplate Gothic Light';
                padding: 0.2rem 0.3rem;
                width: 5rem;
                border-radius: 2rem;
                text-align: center;
                background-color: $sub-color;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-top: -0.5rem;
                    border-top: 6px solid $sub-color;
                    border-left: 6px solid $sub-color;
                    @include transform(rotate(45deg));
                }
            }
        }
    }
}
/////////////////////////////////top-nav with sns icons
#menu{
	position: fixed;
	top:0;
	left:0;
	height: auto;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.logo-box {
    position: relative;
    display: inline-block;
    width: 12%;
    height: auto;
    margin-left: 6%;
    margin-top: 3rem;
    .logo {
        width: 100%;
    }
}
.sns {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);
    width: 10%;
    float: right;
    margin-top: 5rem;
    margin-right: 6%;
    li {
        @include transition(all 0.3s ease);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid $white;
        margin: -0.25rem 0 0 -0.25rem;
        background: transparent;
        text-indent: -9999px;
        span {
                position: relative;
                display: inline;
                color: $font-white-500;
                font-size: 0.8rem;
                text-align: center;
                font-family: 'Copperplate Gothic Light';
                width: 3rem;
                height: 1rem;
            }
        .icon {
            width: 0;
            height: 0;
        }
        &:hover {
            width: 2rem;
            height: 2rem;
            margin: -1rem 0 0 -1rem;
            cursor: pointer;
            .icon {
                width: 100%;
                height: 100%;
                display: block;
                margin-bottom: 0.2rem;
            }
        }
    }
    .show-nav {
        display: none;
    }
}
.mobile-nav-sns {
    .show-nav-sns {
        display: none;
    }
}
.mobile-sns {
    display: none;
}
.nav-sns-list {
    display: none;
}
/////////////////////////////////navigation
#fp-nav.left {
    left: 5%;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 0.4rem;
    height: 2rem;
    margin: 0;
    margin-top: 1.5rem;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0;
    margin: -0.2rem 0px 0px -0.2rem;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    height: 1.2rem;
    width: 0.4rem;
    background: rgba(255, 255, 255, 0.3);
    left: 50%;
    top: 50%;    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 1.2rem;
    height: 1.2rem;
    margin: -0.2rem 0px 0px -0.2rem;
}
/////////////////////////////////tooltip
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: 1px;
    color: #fff;
    font-size: 14px;
    font-family: 'Copperplate Gothic Light';
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.left {
    left: 1.5rem;
    top: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    @keyframes show-nav-sns-list {
        0%{
            opacity: 0;            
        }
        100% {
            opacity: 1;           
        }
    }
    
    .logo-box {
        position: relative;
        display: inline-block;
        width: 35%;
        height: auto;
        margin-left: 32.5%;
        margin-top: 1.5rem;
        .logo {
            width: 100%;
        }
    }
    #fp-nav {
        display: none;
    }
    .mobile-nav-sns {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        float: right;
        margin-top: 1.5rem;
        margin-right: 2rem;
        display: inline-block;
        border: 1px solid $white;
        .show-nav-sns {
            display: inline;
            font-family: 'Copperplate Gothic Light';
            font-size: 1rem;
            color: $font-white;
            text-align: center;
            position: relative;
            top: 22%;
            left: 30%;
        }
    }
    .nav-sns-list {
        @include box-sizing(border-box);
        display: none;
        width: 80%;
        margin: 7% 10%;
        padding: 2rem 0;
        border: 1px solid $white;        
        background-color: $main-color; 
        border-radius: 0.3rem;
        box-shadow: 0 0 4rem rgba(0, 0, 0, 1);
        li {
            &:first-child {
                margin-top: 2rem;
            } 
        }      
        .show-nav {
            display: block;
            font-family: 'Copperplate Gothic Light';
            color: $font-white;
            font-size: 1.2rem;
            text-align: center;
            padding: 1rem 2rem;
        }
        .mobile-sns {
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 10% 0;
            text-align: center;
            li {
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                margin: 0 0.5rem;
                display: inline-block;
                text-align: center;
                border: 0.5px solid $white;
                border-radius: 0.5rem;
                .mobile-icon {
                    width: 100%;
                    height: auto;
                }
            }
        }        
        &.active {
            display: block;
            animation: show-nav-sns-list 0.3s;                               
        }        
    }
    .sns {
        display: none;
    }
    
}