@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@keyframes from-bottom {
    0% {
		opacity: 0;
		bottom: -3px;
	}
	50% {
	    opacity: 0.5;
		bottom: -1.5px;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}
@-webkit-keyframes medal {
    0%{margin-bottom: 0;}
    50%{margin-bottom: -4px;}
    100%{margin-bottom: 0;}
}
@-moz-keyframes medal {
    0%{margin-bottom: 0;}
    50%{margin-bottom: -4px;}
    100%{margin-bottom: 0;}
}
@-o-keyframes medal {
    0%{margin-bottom: 0;}
    50%{margin-bottom: -4px;}
    100%{margin-bottom: 0;}
}
@keyframes medal {
    0%{margin-bottom: 0;}
    50%{margin-bottom: -4px;}
    100%{margin-bottom: 0;}
}
@-webkit-keyframes svg {
    to {stroke-dashoffset: 0;}
}
@-moz-keyframes svg {
    to {stroke-dashoffset: 0;}
}
@-o-keyframes svg {
    to {stroke-dashoffset: 0;}
}
@keyframes svg {
    to {stroke-dashoffset: 0;}
}
@-webkit-keyframes watch {
    to {transform: rotate(360deg);}
}
@-moz-keyframes watch {
    to {transform: rotate(360deg);}
}
@-o-keyframes watch {
    to {transform: rotate(360deg);}
}
@keyframes watch {
    to {transform: rotate(360deg);}
}
.section {
    background: radial-gradient(circle, rgba(4,20,25,1) 0%, rgba(4,20,25,1) 55%, rgba(4,12,12,1) 100%);
    background-color: $main-color;
}
#section1 {
    background: radial-gradient(circle, rgba(4,20,25,1) 0%, rgba(4,20,25,1) 55%, rgba(4,12,12,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .section1-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        .bg1{
            opacity: 0.5;
            position: absolute;
            width: 100%;
            height: 100%;
            img {
                @include animation(watch 5s linear infinite);
                position: absolute;
                width: 9%;
                left: 7%;
                bottom: 11%;
            }
        }
        .bg2 {
            width: 100%;
            height: 20%;
            bottom: 0;
            position: absolute;
            background: url('../../images/section1/section1bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
        .bg3 {
            @include animation(svg 10s linear infinite);
            opacity: 0.3;
            position: absolute;
            right: -2%;
            bottom: 10%;
            width: 300px;
            height: 300px;
            stroke-width: 1;
            stroke-dasharray: 9, 10;
            stroke-dashoffset: -400;
            fill: none;
            stroke: $white;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .bg4 {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
                @include animation(medal 4s ease infinite);
                position: absolute;
                width: 13%;
                right: 9%;
                bottom: 5%;
            }
            .medal-shadow {
                @include box-shadow(0 0 8px 5px#010607);
                opacity: 0.7;
                position: absolute;
                width: 7%;
                height: 1rem;
                border-radius: 50%;
                background-color: #010607;
                right: 12%;
                bottom: 3%;
            }
        }
        
    }
    .fp-tableCell {
        display: block;
    }
    .history {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include transition-three-sec();
        width: 50%;
        height: auto;
        position: relative;
        top: 25%;
        margin-left: 25%;
        background-image: url('../../images/section1/bg-1833.png');
        background-size: 40%;
        background-position: right bottom;
        background-repeat: no-repeat;
        .history-image-box {
            width: 30%;
            display: block;
            position: relative;
            .history-image {
                width: 100%;
            }
        }
        .history-description {
            width: 60%;
            display: block;
            position: relative;
            overflow: hidden;
            p {
                @include transition-three-sec();
                display: none;
                color: $font-white;
                font-family: 'Nanum Myeongjo';
                text-align: left;
                font-size: 1rem;
                line-height: 2rem;
                &.active {
                    @include animation(from-bottom 0.3s);
                    display: block;
                }
            }
        }
    }
    .timeline {
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(center);
        clear: both;
        width: 50%;
        position: absolute;
        margin-left: 25%;
        bottom: 15%;
        li {
            @include transition-three-sec();
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            margin-bottom: 2rem;
            cursor: pointer;
            .year {
                @include transition-three-sec();
                position: relative;
                font-family: 'Copperplate Gothic Light';
                color: $font-white-800;
                font-size: 1.3rem;
                border-bottom: 0;
            }
            &:hover {
                .year {
                    color: $font-white;
                    border-bottom: 0.3rem solid $font-white;
                    text-shadow: 2px 2px 4px $text-shadow;
                    top: -2px;
                }
            }
            &.active {
                .year {
                    color: $font-white;
                    border-bottom: 0.3rem solid $font-white;
                    text-shadow: 2px 2px 4px $text-shadow;
                    top: -2px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #section1 {
        .section1-bg {
            .bg1 {
                display: none;
            }
            .bg3 {
                display: none;
            }
            .bg4 {
                display: none;
            }
        }
        .history {
            width: 80%;
            margin-left: 10%;
            display: block;
            top: 14%;
            background-size: 0;
            .history-image-box {
                width: 55%;
                margin-left: 22.5%;
            }
            .history-description {
                width: 100%;
                margin-top: 1.3rem;
                p {
                    font-size: 0.8rem;
                    line-height: 1.8rem;
                }
            }
        }
        .timeline{
            width: 80%;
            margin-left: 10%;
            bottom: 5%;
            li {
                margin-right: 1rem;
                margin-left: 1rem;
                margin-bottom: 1.5rem;
                .year {
                    font-size: 1.1rem;
                }
            }

        }
    }
}