@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo");
@font-face { font-family: 'Copperplate Gothic Light'; font-style: normal; font-weight: normal; src: local("app/assets/font/Copperplate Gothic Light"), url("app/assets/font/copperplate-gothic-light.woff") format("woff"); }
.section { background-color: #041419; }

#section0 .intro { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; width: 100%; height: 100%; background-image: url("../images/section0/intro-bg.png"); background-size: cover; background-position: center; }
#section0 .intro .clock { width: auto; height: 60%; display: block; }
#section0 .intro .clock img { height: 100%; }

#menu { position: fixed; top: 0; left: 0; height: auto; z-index: 70; width: 100%; padding: 0; margin: 0; }

.logo-box { position: relative; display: inline-block; width: 12%; height: auto; margin-left: 6%; margin-top: 3rem; }
.logo-box .logo { width: 100%; }

.sns { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; -ms-flex-wrap: nowrap; flex-wrap: nowrap; width: 10%; float: right; margin-top: 5rem; margin-right: 6%; }
.sns li { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; width: 0.5rem; height: 0.5rem; border-radius: 0.5rem; border: 1px solid #fff; margin: -0.25rem 0 0 -0.25rem; background: transparent; text-indent: -9999px; }
.sns li .icon { width: 0; height: 0; }
.sns li:hover { width: 2rem; height: 2rem; margin: -1rem 0 0 -1rem; cursor: pointer; }
.sns li:hover .icon { width: 100%; height: 100%; display: block; }

#fp-nav.left { left: 5%; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 0; margin-top: 2rem; position: relative; }

.fp-slidesNav ul li { display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span { height: 12px; width: 12px; border-radius: 0; }

#fp-nav ul li a span, .fp-slidesNav ul li a span { border-radius: 0; position: absolute; z-index: 1; height: 4px; width: 4px; border: 1px solid #fff; background: transparent; left: 50%; top: 50%; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span { width: 10px; height: 10px; margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip { position: absolute; top: 1px; color: #fff; font-size: 14px; font-family: 'Copperplate Gothic Light'; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }

/*# sourceMappingURL=section0.css.map */
