@import '../base/color.scss';
@import '../base/font.scss';
@import '../base/mixin.scss';
.header {
	@include flexbox();
	@include justify-content(center);
	background-color: $main-white;
	width: 100%;
	border-bottom: 1px solid $main-blue;
	z-index: 999;
	.nav {
		@include text-decoration(none);
		@include background-dot(transparent);
		@include background-size(7px 7px);
		background-position: 0 0;
		@include transition(all 0.5s ease);
		width: 10%;
		color: $dark-gray;
		font-family: 'impactregular';
		text-align: center;
		font-size: 1rem;
		margin: 2rem 2rem;
		line-height: 4rem;
		&:hover {
			@include background-dot($faint-gray);
			@include background-size(7px 7px);
			background-position: 0 0;
			background-repeat: repeat;
			color: $main-blue;
		}
	}
}